.best-offer {
  background-color: #fff;
  position: relative;
  padding-bottom: 10px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px;
    height: 7px;
    width: 100%;
    bottom: 0;
  }
}

.best-offer__container {
  padding: 27px 30px 35px;
}

.best-offer__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.best-offer__promo-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.best-offer__description {
  margin-top: 23px;
  margin-bottom: 16px;
}

.best-offer__table {
  width: 100%;
  margin-bottom: 27px;

  border-collapse: collapse;
}

.best-offer__col-first {
  width: 95px;
}

.best-offer__col {
  box-sizing: border-box;
  padding: 8px 0;

  border-bottom: 1px solid #ececec;
}

.best-offer__price {
  margin: 18px 0 25px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media ($tablet) {
  .best-offer{
    padding-bottom: 35px;

    &::after {
      background-size: auto 17px;
      height: 17px;
    }
  }

  .best-offer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .best-offer__title {
    margin-top: 5px;

    font-size: 43px;
    line-height: 50px;
  }

  .best-offer__promo-text {
    width: 100px;
    margin-top: 5px;
    margin-right: 13px;

    line-height: 17px;
    text-align: center;
  }

  .best-offer__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    padding-right: 378px;
  }

  .best-offer__content-inner {
    width: 100%;
  }

  .best-offer__description {
    margin-top: -7px;
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .best-offer__table {
    line-height: 24px;
  }

  .best-offer__image-inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 334px;
  }

  .best-offer__picture {
    // width: 334px;
    width: auto;
    max-height: 406px;
    // bullshit
  }

  .best-offer__buy-inner {
    width: 290px;
    margin-top: 15px;
  }

  .best-offer__price {
    margin-top: 12px;
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media ($desktop) {
  .best-offer {
    padding-bottom: 60px;

    &::after {
      background-size: auto 24px;
      height: 24px;
    }
  }

  .best-offer__container {
    justify-content: flex-start;
    padding-top: 120px;
  }

  .best-offer__title {
    z-index: 1;

    font-size: 53px;
    line-height: 57px;
    margin-top: 0;
  }

  .best-offer__promo-text {
    order: -1;
    margin: 0;
    padding: 3px 37px 0 33px;
  }

  .best-offer__content-wrap {
    margin-top: -115px;
    margin-left: 175px;
    padding-right: 583px;
  }

  .best-offer__content-inner {
    margin-top: 165px;
  }

  .best-offer__description {
    margin-bottom: 47px;
  }

  .best-offer__image-inner {
    width: 525px;
  }

  .best-offer__picture {
    // width: 525px;
    max-height: 636px;
    // bullshit
  }

  .best-offer__buy-inner {
    margin-top: 70px;
  }

  .best-offer__price {
    padding-left: 11px;
  }
}
