.content__title {
  display: block;
  margin: 0;
  padding: 70px 0 75px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;

  background-color: #f1f1f1;
}

.content__description {
  padding: 23px 30px;

  font-size: 13px;
  line-height: 24px;
}
