.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 85px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--no-press {
    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}

.logo__pic {
  margin-top: 22px;
  margin-bottom: 16px;
}

@media ($tablet) {
  .logo {
    margin: 0;
  }

  .logo__pic {
    width: 112px;
    height: 45px;
    margin-top: 21px;
    margin-bottom: 17px;
  }
}

@media ($desktop) {
  .logo__pic {
    width: 148px;
    height: 72px;
    margin-left: 50px;
  }
}
