.menu {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1;

  width: 100%;

  &--close {
    display: none;
  }

  &--nojs {
    position: static;

    display: flex;
    flex-direction: column;
  }
}

.menu__link {
  display: block;
  box-sizing: border-box;
  padding: 26px 30px 28px 75px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &--no-press {
    &:hover {
      color: #000000;
    }

    &:active {
      color: #000000;
    }
  }
}

@media ($tablet) {
  .menu {
    position: static;
    z-index: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    order: 3;
    box-sizing: border-box;
    width: 384px;
    margin: -1px -50px 0;
    margin-top: -1px;
    padding: 0 50px;
    padding-right: 0;

    background-color: #f9f9f9;
    border-top: 1px solid #ececec;
  }

  .menu__link {
    width: 167px;
    padding: 16px 0;

    font-size: 15px;

    background-color: #f9f9f9;
    border-bottom: none;
  }
}

@media ($desktop) {
  .menu {
    flex-shrink: 0;
    align-items: stretch;
    order: 1;
    box-sizing: border-box;
    width: 450px;
    margin: 0;
    padding: 0;

    border: none;
    border-bottom: 1px solid #ececec;
  }

  .menu__link {
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 33px;

    font-size: 17px;

    background-color: #ffffff;

    &--catalog {
      width: 235px;
      padding-left: 50px;

      border-right: 1px solid #ececec;
    }

    &--form {
      width: 215px;
      padding-left: 35px;
    }
  }
}
