.menu {
  position: absolute;
  top: 80px;
  left: 50%;
  z-index: 1;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  transform: translateX(-50%);

  &--close {
    display: none;
  }
}

.menu__list {
  min-width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__item {
  margin-bottom: -1px;

  background-color: #ffffff;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  &--search::after {
    content: "";
    position: absolute;
    top: 190px;
    left: 30px;

    width: 25px;
    height: 25px;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--cart::after {
    content: "";
    position: absolute;
    top: 265px;
    left: 30px;

    width: 25px;
    height: 25px;

    background-image: url("../../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: 0.2;
  }
}

.menu__link {
  display: block;
  padding: 26px 0 28px 75px;

  color: #000000;
  text-decoration: none;
}
