.order {
  padding: 0 30px;
}

.order__group {
  margin: 0;
  padding: 0;

  border: none;
}

.order__group-title {
  position: relative;

  margin-right: 10px;
  padding-right: 15px;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    box-sizing: border-box;
    width: 75%;

    border-top: 1px solid #62d1ba;
  }
}

.order__group-inn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0 35px;

  &--color {
    padding-bottom: 15px;
  }

  &--name {
    padding-top: 5px;
    padding-bottom: 32px;
  }
}

.order__field-wrap {
  margin-top: 17px;
}

.order__label {
  position: relative;

  margin: 12px 0;
  padding-left: 63px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.order__radio {
  display: none;
}

.order__radio + .order__label::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border: 2px solid #444444;
  border-radius: 50%;
}

.order__radio:checked + .order__label::before {
  background-color: #62d1ba;
  box-shadow: inset 0 0 0 10px #ffffff;
}

.order__checkbox {
  display: none;
}

.order__checkbox + .order__label {
  margin: 15px 0 28px;
}

.order__checkbox + .order__label::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border: 2px solid #444444;
}

.order__checkbox:checked + .order__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.order__label:hover::before {
  border-color: #62d1ba;
}

.order__label:active::before {
  border-color: #c7c7c7;
}

.order__input-wrap {
  margin-bottom: 30px;
}

.order__fullname-label {
  margin-top: 22px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.order__text-field {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;

  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;

  border: none;
  border-bottom: 2px solid #000000;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.order__input-wrap--phone,
.order__input-wrap--email {
  padding-top: 7px;
}

.order__input-wrap--email {
  margin-bottom: 35px;
}

.order__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  margin-top: 23px;
  margin-bottom: 5px;
  padding: 15px;

  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;

  border: 2px solid #444444;
  outline: none;

  resize: none;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.order__note {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__btn {
  width: 100%;
  margin-top: 28px;
  margin-bottom: 54px;

  font-family: "Open Sans", "Arial", sans-serif;

  background-color: #ffffff;
  outline: none;
}

@media ($tablet) {
  .order {
    padding: 0;
  }

  .order__group {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    padding-top: 60px;
    padding-bottom: 10px;

    background-color: #ffffff;
    border: none;

    &--bg-grey {
      align-items: baseline;

      background-color: #f1f1f1;
    }

    &--contacts {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  .order__contacts-wrap {
    padding: 40px 0;

    background-color: #f1f1f1;
  }

  .order__group-title {
    display: block;
    // width: 25%;
    width: 167px;
    margin: 0;
    margin-top: 10px;
    padding: 0;

    &::before {
      content: none;
    }
  }

  .order__group-inn {
    width: 75%;
    padding-top: 0;
    padding-bottom: 5px;

    &--color {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--name {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .order__label,
  .order__fullname-label {
    font-size: 19px;
  }

  .order__radio + .order__label {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 80px;
  }

  .order__radio + .order__label::before {
    top: -15px;

    width: 52px;
    height: 52px;
  }

  .order__radio:checked + .order__label::before {
    box-shadow: inset 0 0 0 13px #ffffff;
  }

  .order__checkbox + .order__label {
    box-sizing: border-box;
    width: 250px;
    margin: 7px 0 51px;
    padding-left: 80px;
  }

  .order__checkbox + .order__label::before {
    width: 52px;
    height: 52px;
  }

  .order__field-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .order__fullname-label {
    margin-top: 0;
    margin-right: 20px;
  }

  .order__input-wrap {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0;
    margin-left: 40px;
    padding-top: 0;
  }
  .order__input-wrap .order__text-field {
    background-color: #f1f1f1;
  }

  .order__textarea {
    margin-top: 0;
    margin-left: 40px;
  }

  .order__note-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 50px;
  }

  .order__btn {
    width: 34%;
    margin: 0;
  }

  .order__note {
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }
}

@media ($desktop) {
  .order {
  }

  .order__group--wishes {
    padding-right: 225px;
  }

  .order__group-inn--name {
    padding-right: 175px;
  }

  .order__group-title {
    box-sizing: border-box;
    width: 175px;
    padding-left: 60px;
  }

  .order__input-wrap {
    margin-left: 20px;
    padding-right: 175px;
  }

  .order__textarea {
    margin-left: 20px;
  }

  .order__note-wrap {
    padding-left: 225px;
    padding-right: 225px;
  }
}
