.page-footer {
  background-color: #f1f1f1;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__logo-link {
  display: none;
}

.page-footer__social-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 30px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-item {
  margin: 27px 20px 15px 19px;

  font-size: 0;
}

.page-footer__social-icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 62px 20px 67px;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover .page-footer__copyright-icon {
    fill: #46c1ae;
  }

  &:active .page-footer__copyright-icon {
    fill: #bde3dd;
  }
}



.page-footer__copyright-icon {
  width: 40px;

  fill: #63d1bb;
}

@media ($tablet) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }

  .page-footer__logo-link {
    display: block;
    width: 33%;
  }

  .page-footer__logo-icon {
    fill: #000000;

    &:hover {
      fill: rgba(70, 193, 174, 1);
    }

    &:active {
      fill: rgba(70, 193, 174, 0.3);
    }
  }

  .page-footer__social-wrap {
    width: 33%;

    border: none;
  }

  .page-footer__copyright-link {
    justify-content: flex-end;
    width: 33%;
    padding: 0;
  }

  .page-footer__copyright-text {
    padding-top: 2px;
  }

  .page-footer__copyright-icon {
    display: block;
    margin-top: 5px;
    margin-right: -6px;
    padding-left: 22px;
  }
}
