.page-header {
  box-sizing: border-box;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media ($tablet) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 89px, #e7e7e7 89px, #e7e7e7 90px, #f9f9f9 90px);
    border: none;
  }

  .page-header__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;

    background-color: #ffffff;
  }
}

@media ($desktop) {
  .page-header__container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    background-color: #f9f9f9;
  }
}
