.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
}

@media ($tablet) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;

    background-color: #ffffff;
  }
}

@media ($desktop) {
  .page-header {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0;

    background-color: #f9f9f9;
  }
}
