.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f1f1f1;
}

.page-footer__logo-link {
  display: none;
}

.page-footer__social-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 30px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-item {
  margin: 25px 20px 15px;

  font-size: 0;
}

.page-footer__social-icon {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  margin-left: 10px;

  font-size: 0;
}

.page-footer__copyright-icon {
  width: 40px;

  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

@media ($tablet) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }

  .page-footer__logo-link {
    display: block;
    width: 33%;
  }

  .page-footer__social-wrap {
    width: 33%;

    border: none;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    width: 33%;
  }
}
