.promo {
  background-color: #f9f9f9;
}

.promo__text {
  margin: 0;
  padding: 70px 30px 124px;

  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.promo__btns-wrap {
  display: flex;
  flex-direction: column;
}

.promo__btn {
  display: block;
  box-sizing: border-box;
  padding: 26px 160px 29px 28px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  background-color: $bg-lightaqua;

  &--toys {
    background-color: $bg-darkaqua;
  }
}

@media ($tablet) {
  .promo {
    padding: 0 50px;
  }

  .promo__text {
    padding: 90px 70px 370px;

    font-size: 43px;
    line-height: 50px;
  }

  .promo__btns-wrap {
    flex-direction: row;
  }

  .promo__btn {
    width: 50%;
    padding: 30px 160px 32px 35px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media ($desktop) {
  .promo__text {
    padding-top: 100px;
    padding-bottom: 360px;

    font-size: 53px;
    line-height: 57px;
  }

  .promo__btn {
    padding: 28px 350px 30px 38px;
  }
}
