.reviews {
  background-color: #fff;
  position: relative;
  padding-bottom: 52px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px;
    height: 7px;
    width: 100%;
    bottom: 0;
  }
}

.reviews__container {
  padding: 0 30px;
}

.reviews__title {
  margin-bottom: 25px;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  margin: 0;
  padding-right: 10px;

  font-size: 14px;
  line-height: 30px;
}

.reviews__author {
  margin-top: 25px;
  margin-bottom: 5px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-link {
  margin-top: 8px;
  margin-bottom: 31px;

  font-size: 17px;
  line-height: 24px;
}

.reviews__controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 37px;
}

.reviews__control {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 12px 0;

  border: 1px solid #ececec;

  &:last-child {
    margin-left: -1px;
  }

  &:hover {
    background-color: #ffffff;

    fill: #666666;
  }

  &:active {
    background-color: #ffffff;

    fill: #b2b2b2;
  }
}

@media ($tablet) {
  .reviews {
    padding-bottom: 80px;

    &::after {
      background-size: auto 17px;
      height: 17px;
    }
  }

  .reviews__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    padding-bottom: 20px;
    margin-bottom: 0;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media ($min-resolut-dpi), ($min-resolut-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    order: 1;
    margin-top: 75px;
    margin-left: -4px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__review-btn {
    order: 2;
    align-self: center;
    margin-top: 60px;
    padding-right: 38px;
    padding-left: 38px;
  }

  .reviews__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 3;
    margin-top: 25px;
  }

  .reviews__text {
    margin-bottom: 31px;

    font-size: 17px;
  }

  .reviews__author {
    margin-top: 27px;
  }

  .reviews__author-link {
    margin-top: 6px;
  }

  .reviews__controls {
    width: 174px;
    margin-top: 30px;
  }

  .reviews__control {
    width: 50%;

    border: none;
  }
}

@media ($desktop) {
  .reviews {
    padding-bottom: 60px;

    &::after {
      background-size: auto 24px;
      height: 24px;
    }
  }

  .reviews__container {
    margin-bottom: 0;
    padding-right: 50px;
    padding-bottom: 90px;
    padding-left: 225px;
    background-position-x: 50px;
  }

  .reviews__title {
    margin-top: 70px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin-bottom: 10px;
  }
}
