.reviews {
  padding: 0 30px;

  border-bottom: 8px solid black;
  border-image: url("../img/zigzag-line-desktop.svg") 10;
}

.reviews__title {
  margin: 0;
  padding: 30px 0 25px;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  margin: 0;

  line-height: 30px;
}

.reviews__author {
  margin: 0;
  padding: 25px 0 5px;

  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.reviews__author-link {
  margin: 0;
  padding: 5px 0;

  font-size: 17px;
}

.reviews__controls {
  display: flex;
  padding: 25px 0 5px;
}

.reviews__control {
  position: relative;

  min-width: 130px;
  min-height: 20px;
  margin: 0;
  margin-left: -1px;

  border: 1px solid #ececec;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 40px;

    width: 50px;
    height: 30px;

    background-repeat: no-repeat;
  }

  &--prev::after {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next::after {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__review-btn {
  margin: 30px 0 45px;
}
