.user-block {
  position: absolute;
  top: 238px;
  left: 0;
  z-index: 1;

  width: 100%;

  &--close {
    display: none;
  }

  &--nojs {
    position: static;

    display: flex;
    flex-direction: column;
  }
}

.user-block__link {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 27px 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    & .user-block__icon {
      fill: rgba(99, 209, 187, 1);
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    & .user-block__icon {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}

.user-block__icon {
  padding-right: 27px;
  padding-left: 31px;

  fill: #d3d2d2;

  &--cart {
    padding-right: 23px;
  }
}

@media ($tablet) {
  .user-block {
    position: static;
    z-index: auto;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    order: 2;
    width: 348px;
  }

  .user-block__link {
    padding: 33px 0 32px 80px;
    padding-left: 0;

    background-color: #ffffff;
    border-left: 1px solid #ececec;
  }

  .user-block__link--search {
    box-sizing: border-box;
    width: 84px;

    font-size: 0;
  }

  .user-block__link--cart {
    padding-top: 31px;
    padding-bottom: 34px;
  }

  .user-block__icon--search {
    margin: 0 auto;
    padding: 0;
  }

  .user-block__icon--cart {
    padding-right: 30px;
  }
}

@media ($desktop) {
  .user-block {
    flex-grow: 1;
    justify-content: flex-start;
    order: 3;
  }

  .user-block__link--search {
    width: 83px;
  }
  .user-block__link--cart {
    box-sizing: border-box;
    width: 317px;
    padding-top: 32px;
    padding-bottom: 33px;
  }
}
